<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to query all packages (Android 11+) -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    
    <!-- Permission to access usage stats -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    
    <!-- Permission to request app uninstall (Android 9+) -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />


    <application
        android:name=".LauncherApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinimalistLauncher"
        tools:targetApi="31">

        <!-- Main Launcher Activity -->
        <activity
            android:name=".ui.launcher.LauncherActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.MinimalistLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- App List Activity -->
        <activity
            android:name=".ui.applist.AppListActivity"
            android:exported="false"
            android:theme="@style/Theme.MinimalistLauncher" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/Theme.MinimalistLauncher" />

        <!-- Focus Mode Activity -->
        <activity
            android:name=".ui.focus.FocusModeActivity"
            android:exported="false"
            android:label="@string/focus_mode"
            android:theme="@style/Theme.MinimalistLauncher" />

    </application>

</manifest>
